
.baslikresim{
    width: 250px;
    text-align: center;
    margin-bottom: 1rem;
}
.main{
    margin-top: 1rem;
    text-align: center;
    
}
.card{
    background-color: white;
   width: 220px;
   height:130px;
  border-radius: 20px;
   
}
.card:hover{
    box-shadow: 0 0 4px 2px rgb(51, 79, 235);
}
.cerceve{
    position: relative;
    background-color:orange;
    padding: 1rem;
   border-radius: 15px;
}

.kartcontainer{
    
    gap: 1rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr)
  
   
}
.resim{
   
    height: 73px;
    object-fit: cover;
}
.resim:hover{
    height: 80px;
    transition: all 0.5s ease-in-out;
}
.card-text{
    font-size: 1rem;
    line-height: inherit;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: 500;
}